* {
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.right {
  display: flex;
  justify-content: space-between;
}

.right button,
.right a {
  margin-left: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*list*/
.board_list_wrap {
  width: 100%;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

thead {
  background-color: rgb(238, 245, 255);
  border-top: 1px solid #ccc;
}

tbody .title {
  text-align: left;
}

tr {
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: rgb(229, 230, 231);
}

.board_page {
  margin-top: 40px;
}

th:nth-child(1),
td:nth-child(1),
th:nth-child(5),
td:nth-child(5) {
  width: 6%;
  padding: 8px;
  color: #6e6e6e;
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
  width: 12%;
  color: #6e6e6e;
}

/* wirte */
.board_write_wrap {
  border-top: 1px solid black;
  width: 100%;
}

.board_write_wrap > form {
  border-bottom: 1px solid black;
  margin: 12px 0;
  padding-bottom: 20px;
}

.board_write_wrap > form > div {
  width: 100%;
}

.board_write_wrap input,
.board_write_wrap textarea {
  display: block;
  box-sizing: border-box;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.board_write_wrap textarea {
  height: 300px;
  box-sizing: border-box;
  resize: none;
}

.btnForm {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btnForm button {
  margin-left: 15px;
}

/* view */
.board_view_wrap {
  width: 100%;
  border-top: 1px solid black;
}
.board_view_wrap #viewForm {
  border-bottom: 1px solid black;
  margin: 12px 0;
}

.board_view_wrap #subject,
.board_view_wrap #writer,
.board_view_wrap #content {
  width: 100%;
  margin-bottom: 3px;
}

.board_view_wrap #subject {
  font-weight: bold;
}

.board_view_wrap #content {
  height: 250px;
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* update */
.board_update_wrap {
  border-top: 1px solid black;
  width: 100%;
}

.board_update_wrap > form {
  border-bottom: 1px solid black;
  margin: 12px 0;
  padding-bottom: 20px;
}

.board_update_wrap > form > div {
  width: 100%;
}

.board_update_wrap input[type="text"],
.board_update_wrap textarea {
  width: 90%;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.board_update_wrap textarea {
  display: block;
  height: 300px;
  box-sizing: border-box;
  resize: none;
}

/* login */
.board_login_wrap {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.board_login_wrap #loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* signup modal */
#signupBtn {
  font-size: 16px;
  margin-bottom: 10px;
  float: right;
  margin-right: 30px;
}

.modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: #f5f5f7;
  z-index: 1000;
  width: 550px;
}

.close {
  position: absolute;
  top: 5px;
  right: 25px;
  cursor: pointer;
  font-size: 27px;
  color: rgb(255, 255, 255);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #459cff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.8s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* myPage */
.user_info_wrap {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 12px 0;
}

.userInfo {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.userInfo p {
  flex: 1;
}

.userPosts {
  margin-top: 20px;
  width: 100%;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 7px;
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.userPosts ul {
  padding-left: 0;
}

.userPosts li {
  border-bottom: 1px solid rgb(175, 175, 175);
  padding: 10px;
  display: flex;
  align-items: center;
}

.userPosts a {
  flex: 2;
  color: #000000;
  margin-right: 5px;
}

.userPosts span {
  color: #666;
  margin-left: 5px;
  font-size: 15px;
}

.userPosts::-webkit-scrollbar {
  width: 10px;
}

.userPosts::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.userPosts::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

.userPosts::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* carousel */
.carousel_container {
  position: relative;
  overflow: hidden;
  max-height: 350px;
}

.carousel {
  display: flex;
  position: relative;
  z-index: 1;
}

.carousel_item {
  min-width: 100%;
}

.carousel_item img {
  width: 100%;
  max-height: 350px;
}

.prev_btn,
.next_btn {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 80px;
  padding: 10px;
  cursor: pointer;
}

.next_btn {
  right: 0px;
}

.bullets_container {
  text-align: center;
  margin-top: 10px;
}

.bullets_container {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 3px;
  cursor: pointer;
}

.bullet.active {
  background-color: white;
}

/* button */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.8s;
  background-color: #459cff;
  color: #fff;
  transform: translateY(1px);
}

.btn:hover {
  background-color: #0056b3;
}
